::-webkit-input-placeholder { color: #151515}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
   overflow-y: hidden;
   overflow-x: hidden;
}
#mapa{
	width: 100vw;
	height: 100vh;
}
.opciones{
	margin-left: 10%;
}
.text{
	color:#fff;
}
.side-nav a {
	font-size: 19px;
	margin-left: 3%; 
}
.side-nav{
	background-color: #0C0D17;
}
.opciones{
	display: inline-block;
	color: #fff;
	font-family: Arial;
}
.color{
	color:#A4A4A4;
	font-family: Arial;
	font-size: 18px;
}
.divider{
	margin-bottom: 3%;
	background-color: #585858;
}
.lista{
	margin-top: 2%;
}
.lista-top{
	margin-top: 8%;
}
.titulo{
	text-align: center;
	font-size: 2em;
	font-family: monospace;
	font-weight: bold;
	border-bottom: 1px solid #6E6E6E;
	margin-top: 3%;
}
.menu{
	color: black;
	position: absolute;
	font-size: 30px;
	top: 2%;
	left: 2%;
}
#conten-partida{
	border:1px solid #6E6E6E;
	position: absolute;
	z-index: 100;
	background-color:#fff;
	width: 90%;
	top:10%;
}
.conten-icon{
	border:1px solid blue;
	margin-top: 30%;
	margin-left: 10%;
}
.search{
	color:gray;
}
.conten-inputpartida{
	border:1px solid green;
}
.text-partida{
	text-align: center;
	color:#088A08;
	font-size: 0.9em;
	font-weight: bold;
	margin-top: 2%;
}
#ubicacion-partida{
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}

input[type=text]{
	margin-bottom: 0px;
}
.sm{
	margin: 0px;
}
