::-webkit-input-placeholder { color: #151515}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
   overflow-y: hidden;
   overflow-x: hidden;
}
#mapa{
	width: 100vw;
	height: 100vh;
}
.iconos{
	width: 40px;
	height: 40px;
}
.opciones{
	margin-left: 10%;
}
.text{
	color:#fff;
}
.side-nav a {
	font-size: 19px;
	margin-left: 3%; 
}
.side-nav{
	background-color: #0C0D17;
}
.opciones{
	display: inline-block;
	color: #fff;
	font-family: Arial;
}
.color{
	color:#A4A4A4;
	font-family: Arial;
	font-size: 18px;
}
.divider{
	margin-bottom: 3%;
	background-color: #585858;
}
.lista{
	margin-top: 2%;
}
.lista-top{
	margin-top: 8%;
}
.menu{
	color: black;
	margin-left: 5%;
	font-size: 30px;
	position: absolute;
	top: 2%;
}
.titulo{
	border-bottom: 1px solid #6E6E6E;
}
.logo{
	font-size: 2em;
	font-family: monospace;
	font-weight: bold;
	top:0%;
	left: 43%;
	padding: 2% 0%;
}
#conten-partida{
	border: 1px solid #6E6E6E;
	top: 10%;
	position: absolute;
	z-index: 100;
	background-color: #fff;
	width: 90vw;
	height: 16vw;
}
.caja1{
	width: 90vw;
	position: absolute;
	z-index: 100;
	border: 1px solid #6E6E6E;
	background-color: #fff;
	top: 10%;
	height: 9vh;
	padding:3% 0%;
	border-bottom: transparent;
}
.caja2{
	width: 90vw;
	position: absolute;
	z-index: 100;
	border: 1px solid #6E6E6E;
	background-color: #fff;
	top: 18%;
	height: 8vh;
	padding:3% 0%;
}
.text-partida{
	text-align: center;	
	color:#088A08;
	font-size: 0.9em;
	font-weight: bold;
	margin-top: 2%;
}
#ubicacion-partida,#ubicacion-llegada{
	font-size: 1.3em; 
	text-align: center;
	word-wrap: break-word;
	margin:0%;
	border:transparent;
	width: 80%;
	margin-left: 10%;
	color: black;
	height: 4vh;
}
.search{
	position: absolute;
	left:3%;
	color:gray;
	top: 30%;
}
.search2{
	position: absolute;
	left:3%;
	color:gray;
	top: 30%;
}
.punto{
	left:3%;
	position: absolute;
}
.form-control:focus {
   	outline: -webkit-focus-ring-color auto 0px;
 	outline-style: none;
    box-shadow: none;
    border-color: lightgrey;
}
#prueba{
	position: absolute;
	bottom: : 0;
}
.desaparece{
	display:none;
}
